<template>
  <div id="app">
    <div>
      <div class="navbar navbar-expand-lg py-4" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
      </div>
      <section class="slider">
        <h1 class="text-white text-center">Currency Calculator</h1>
        <div class="d-flex m-auto border-dark rounded section">         
          <div class="d-flex m-auto align-items-center pt-2">
            <b-form-group
              description="Enter a mount to convert"
              label="Amount"
              label-for="amount"
              class="mr-3 text-white"
            >
              <b-form-input id="amount" v-model="amount" trim></b-form-input>
            </b-form-group>
            <b-form-group
              description="Base rate"
              label="From"
              label-for="base"
              class="mr-3 text-white"
            >
              <b-form-select id="base" v-model="selectedBase" :options="baseOptions"></b-form-select>
            </b-form-group>
            <b-form-group
              description="Against"
              label="To"
              label-for="against"
              class="text-white"
            >
              <b-form-select id="against" v-model="selectedAgainst" :options="againstOptions"></b-form-select>
            </b-form-group>
            <div class="ml-3">
              <b-button @click="check" style="background: #f08714; font-weight: bold;">Convert</b-button>
            </div>
          </div>
        </div>
        <div class="list d-flex justify-content-center">
          <b-list-group>
            <b-list-group-item v-for="(rate, i) in rates" :key="'info_' + i">
              {{rate.currency}}: {{rate.rate}}
            </b-list-group-item>
          </b-list-group>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import axios from 'axios'; 

export default {
  name: 'App',
  data() {
    return {
      info: null,
      baseOptions: [],
      againstOptions: [{value: 'all', text: 'All'}],
      rates: [],
      selectedBase: '',
      selectedAgainst: 'all'
    }
  },
  mounted () {
    axios
      .get('https://api.exchangeratesapi.io/latest')
      .then(response => {
        this.info = response.data;
        let rates = JSON.parse(JSON.stringify(this.info.rates));
        
        this.selectedBase = this.info.base;
        

        this.baseOptions.push({
          value: this.selectedBase,
          text: this.selectedBase
        });

        for (let key of Object.entries(rates)) {

          this.baseOptions.push({
            value: key[0],
            text: key[0]
          });

          

          this.againstOptions.push({
            value: key[0],
            text: key[0]
          });

          this.rates.push({
            currency: key[0],
            rate: key[1]
          })
        }
      })
  },
  methods: {
    check(){
      let url = '';

      if (this.selectedAgainst == 'all') {
        url = 'https://api.exchangeratesapi.io/latest?base=' + this.selectedBase;
      } else {
        url = 'https://api.exchangeratesapi.io/latest?base=' + this.selectedBase + '&symbols=' + this.selectedAgainst;
      }
      axios
      .get(url)
      .then(response => {
        this.info = response.data;
        let rates = JSON.parse(JSON.stringify(this.info.rates));

        this.rates = [];


        let amount = this.amount ? this.amount : 1;
        for (let key of Object.entries(rates)) {


          this.rates.push({
            currency: key[0],
            rate: key[1]  * amount
          })
        }
      })
    }
  }
}
</script>

<style>
#app{
  font-family: 'Poppins';
  font-size: 18px;
}

#navbar{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#navbar .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .5px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

#navbar .nav-link:hover, #navbar .nav-link:focus {
    color: #f08714;
}

.section{
  background: rgba(0, 34, 114);    
  padding: 5px 32px 30px;
  width:50%;
}

.slider {
  background: url("./assets/background.png") no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
}

.slider .block h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    color: #fff;
}

.list-group{
  width:40%;
}

</style>
